.jumbotron {
    margin-top: 10px;
}

.card{
    padding: 20px;
    margin-top: 40px;
}

#movies img, #movie img{
    width: 100%;
}

@media(min-width:960px){
#movies .col-md-3 .card{
    height: 390px;
}

#movies .col-md-3 img{
    height: 240px;
}
}

.plot{
    background-color:white;
}